.navbar-brand{
    font-family: 'Pangolin', cursive;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.box{
    position: fixed;
    bottom: 10px;
    right: 120px;
    margin-bottom: 50px;
}